*,
.footer1 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}
::selection {
  background-color: #00B689;
}

/*----------------------------- CLASSES RÉUTILISABLES -----------------------------*/

/* Titres H2 */
main h2,
.footer1 .titre {
  font-size: 28px;
}

/* Boutons */
button {
  cursor: pointer;
}

.bouton {
  display: inline-block;
  margin-top: -30px;
}

.bouton-effect,
.bouton-effect:after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.bouton-effect {
  background: none;
  border: 3px solid #3E3EDF;
  border-radius: 5px;
  color: #3E3EDF;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  padding: 10px 20px;
}

.bouton-effect::before,
.bouton-effect::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.bouton-effect:hover {
  color: white;
}

.btn-effect {
  overflow: hidden;
}

.btn-effect::after {
  background-color: #3E3EDF;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-effect:hover:after {
  height: 100%;
  width: 135%;
}

/*----------------------------- MENU NAV -----------------------------*/
.menu {
  background: black;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
  flex-wrap: wrap;
}

.menu-container .btn-burger {
  display: none;
}

.liste-menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-item:not(:last-child) {
  margin-right: 25px;
}

.menu-item a {
  position: relative;
}

.menu-item:not(:last-child):after {
  content: "|";
  color: white;
  margin-left: 25px;
}

.menu-item a::before{
  content: '';
  position: absolute;
  bottom: -7px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .menu-item a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.menu-item a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
} 

/* Picto du menu */
.menu-logo i {
  color: white;
  font-size: 30px;
}

.menu-logo i:hover {
  color: #0074D9;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.menu-logo i:first-child {
  margin-right: 30px;
}

/*----------------------------- HEADER -----------------------------*/
header {
  height: 75vh;
}

/* Swipper JS */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*----------------------------- SECTION LOCALISATION -----------------------------*/
.localisation {
  display: flex;
  margin: 0 0 0 190px;
  color: grey;
}

.localisation p {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
  border-right: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  padding: 20px 10px;
}

.localisation a {
  border-right: 1px solid rgb(218, 218, 218);
  padding: 20px 10px;
  text-decoration: none;
  color: grey;
}

.localisation a:hover {
  color: #3E3EDF;
  font-weight: bold;
  transition: ease-in .3s;
}

/*----------------------------- SECTION TITRE -----------------------------*/
.title {
  background: rgb(62, 62, 223);
  padding: 50px 190px;
  color: white;
}

.title h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*----------------------------- SECTION FILTRES -----------------------------*/
.filtres {
  background: rgb(230, 230, 230);
  padding: 25px 190px 35px;
  display: flex;
  flex-wrap: wrap;
}

.filtres button {
  border: none;
  padding: 10px 15px;
  border-radius: 35px;
  background: white;
  border: 3px solid white;
  color: grey;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
  max-height: 40px;
}

.filtres button:hover {
  background: #3E3EDF;
  border: 3px solid #3E3EDF;
  color: white;
  transition: ease-in-out .3s;
}

.filtres button {
  margin-left: 10px;
}

/* Plus de filtres */

form {
  margin-left: 10px!important;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 35px;
  background: transparent;
  color: grey;
  border: 2px solid grey;
  text-transform: uppercase;
  margin-top: 10px;
}

select option {
  text-align: center;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
}

/* Permet d'ajouter le style sans toucher au display */
.checkboxes-style {
  border: 1px #dadada solid;
  display: block;
  background: white;
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
  border-radius: 5px;
}

/*----------------------------- SECTION ARTICLES -----------------------------*/

/* Cards - article */
.articles {
  margin: 60px 190px;
}

.card {
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin-bottom: 25px;
  cursor: pointer;
}

.card:hover {
  opacity: .6;
  transition: .3s ease-in-out;
  transform:scale(1.03);

}

.card img {
  width: 400px;
  margin: 20px;
  object-fit: cover;
}

.card .content {
  margin: 20px 20px 20px 15px;
}

.card .content h2 {
  color: rgb(62, 62, 223);
  margin: 20px 0;
  font-weight: bold;
}

.categorie {
  display: inline-block;
  background: rgb(218, 218, 218);
  color: grey;
  padding: 7px 15px;
  text-transform: uppercase;
  border-radius: 35px;
}

.date {
  display: flex;
  align-items: baseline;
  color: grey;
  margin-top: 45px;
}

.date i {
  margin-right: 20px;
}

/* Plus d'articles */
.plus-d-article {
  text-align: center;
  margin-top: 35px;
}

.plus-d-article p {
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.plus-d-article button {
  margin: auto;
}

.voir-articles {
  display: none;
}

.voir-articles.is-visible {
  display: block;
}

/*----------------------------- SECTION PROPOSITION ARTICLE -----------------------------*/
.proposition-article {
  margin: 0 190px 50px;
  display: flex;
  justify-content: space-around;
  background: rgb(230, 230, 230);;
  border-radius: 5px;;
  padding: 25px 0;
  align-items: center;
}

.proposition-article .fa-newspaper {
  font-size: 90px;
  color: rgb(175, 175, 175);
  text-align: center;
  margin: 0 50px;
}

.proposition-article .content h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.proposition-article button {
  display: inherit;
  background: #3E3EDF;
  color: white;
  border: 3px #3E3EDF solid;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 0 50px;
}

.proposition-article button i {
  margin-right: 10px;
}

.proposition-article button:hover {
  background: transparent;
  color: #3E3EDF;
  transition: ease-in-out .3s;
}

/*----------------------------- SECTION BOUTONS BAS DE PAGE -----------------------------*/
.boutons-bas .boutons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boutons-bas .boutons button {
  margin-top: 10px;
}

.boutons-bas .partages {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
}

.boutons-bas .partages .item {
  display: flex;
  position: relative;
  align-items: baseline;
}

.boutons-bas .partages .item a {
  color: grey;
  text-decoration: none;
}

.boutons-bas .partages .item a:hover {
  opacity: .7;
  transition: ease-in-out .3s;
}

.boutons-bas .partages .item a button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  font-size: 16px;
  cursor: pointer;
}

.boutons-bas .partages .item:not(:last-child) {
  margin-right: 70px;
}

.boutons-bas .partages .item:not(:last-child):after {
  content: '';
  height: 70px;
  width: 1px;
  background-color: rgb(230, 230, 230);
  position: absolute;
  bottom: -60px;
  left: 120%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.boutons-bas .partages .item i {
  margin-right: 15px;
}

/*----------------------------- FOOTER -----------------------------*/
.footer1 {
  background: #3E3EDF;
  color: white;
  padding: 50px 190px 0;
  margin-top: 60px;
  display: flex;
}

.footer1 .col1,
.footer1 .col2 {
  margin-bottom: 50px;
}

.footer1 .col1 .titre,
.footer1 .col2 .titre { 
  font-weight: bold;
  margin-bottom: 30px;
}

.footer1 .col1 .telephone {
  text-decoration: none;
  color: white;
}

.footer1 .col2 {
  margin-left: 200px;
}

.footer1 .col1 p,
.footer1 .col2 p {
  line-height: 1.4;
}

.footer2 {
  margin: 25px 5px;
}

.footer2 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.5;
}

.footer2 ul li:not(:last-child) {
  margin-right: 25px;
}

.footer2 ul li:not(:last-child):after {
  content: "|";
  color: black;
  margin-left: 25px;
}

.footer2 ul li a {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
} 

.footer2 ul li a:hover {
  color: #3E3EDF;
  font-weight: bold;
  transition: .3s ease-in-out;
}

.bouton-footer {
  background: white;
  color: #3E3EDF;
  padding: 10px 20px;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 16px;
}

.bouton-footer i {
  margin-right: 10px;
}

.bouton-footer:hover {
  background: transparent;
  color: white;
  transition: .3s ease-in-out;
}


/*----------------------------- RESPONSIF -----------------------------*/

@media screen and (max-width: 1280px) {
  .localisation {
    margin: 0 0 0 100px;
  }
  .title {
    padding: 50px 100px;
  }
  .filtres {
    padding: 25px 100px 35px;
  }
  .articles {
    margin: 60px 100px;
  }
  .proposition-article {
    margin: 0 100px 50px;
  }
  .footer1 {
    padding: 50px 100px 0;
  }
  .menu-container {
    justify-content: space-between;
  }
  .menu-container .btn-burger {
    display: block;
    color: white;
    font-size: 35px;
  }
  .menu-container .liste-menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    flex-wrap: wrap;
  }
  .card img {
    width: 93%;
    max-height: 300px;
    object-fit: cover;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 950px) {
  .proposition-article {
   display: block;
   text-align: center;
   padding: 30px;
  }
  .proposition-article .fa-newspaper {
     margin: 0 0 30px;
  }
  .proposition-article button {
     margin: 30px auto 0;
  }
 }

 @media screen and (max-width: 768px) {
  header {
    height: 55vh;
  }
  .footer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer1 .col2 {
    margin-left: 0;
  }
  .localisation {
    margin: 0 0 0 50px;
  }
  .title {
    padding: 50px;
  }
  .filtres {
    padding: 25px 50px 35px;
  }
  .articles {
    margin: 60px 50px;
  }
  .proposition-article {
    margin: 0 50px 50px;
  }
  .footer1 {
    padding: 50px 50px 0;
  }
}

@media screen and (max-width: 690px) {
  .partages {
    display: grid!important;
  }
  .partages .item {
    margin-right: 0!important;
  }
  .partages .item:after {
    display: none;
  }
  .partages .imprimer i {
    margin-right: 7px!important;
  }
}

@media screen and (max-width: 500px) {
  .localisation {
    margin: 0 0 0 35px;
  }
  .title {
    padding: 50px 35px;
  }
  .filtres {
    padding: 25px 35px 35px;
  }
  .articles {
    margin: 60px 35px;
  }
  .proposition-article {
    margin: 0 35px 50px;
  }
  .footer1 {
    padding: 50px 35px 0;
  }
}

@media screen and (max-width: 360px) {
  .title h1 {
    font-size: 45px;
  }
}

/*----------------------------- MENU MOBILE -----------------------------*/
.menu-mobile {
  display: none;
}
@media screen and (max-width: 1280px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
    background: black;
  }
  .menu-mobile input + label {
    position: fixed;
    top: 22px;
    right: 40px;
    height: 32px;
    width: 38px;
    z-index: 5;
  }
  .menu-mobile input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: white;
    transition: 0.5s;
  }
  .menu-mobile input + label span:first-child {
    top: 3px;
  }
  .menu-mobile input + label span:last-child {
    top: 29px;
  }
  .menu-mobile label:hover {
    cursor: pointer;
  }
  .menu-mobile input:checked + label span {
    opacity: 0;
    top: 50%;
  }
  .menu-mobile input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  .menu-mobile input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  .menu-mobile input ~ nav {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
  }
  .menu-mobile input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
  }
  .menu-mobile input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
  }
  .menu-mobile input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 15px;
    line-height: 1.4;
  }

  .menu-mobile input ~ nav > ul > li > a:hover {
    opacity: .7s;
    transition: ease-in-out .3s;
  }

  .menu-mobile input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
  }
  .menu-mobile input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }
}