body, main {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

/* CLASSES RÉUTILISÉES */

/* Boutons */
.bouton {
  display: inline-block;
  margin-top: -30px;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: rgb(62, 62, 223);
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: rgb(62, 62, 223);
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.btn {
	border: 2px solid rgb(62, 62, 223);
}
a.animated-button.btn:after {
	background: rgb(62, 62, 223);
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.btn:hover:after {
	height: 140%;
	opacity: 1;
}

/* MENU NAV */
.menu {
  background: black;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  padding: 30px 30px 15px;
}

.liste-menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 25px;
}

.menu-item:after {
  content: "|";
  color: white;
  margin-left: 25px;
}

.menu-item a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
} 

.menu-logo i {
  color: white;
}

.menu-logo i {
  font-size: 30px;
}

.menu-logo i:first-child {
  margin-right: 30px;
}

/* SECTION SLIDER */
header {
  height: 75vh;
}

/* Swipper JS */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SECTION LOCALISATION */
.localisation {
  display: flex;
  margin: 0 0 0 190px;
  color: grey;
}

.localisation p {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
  border-right: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  padding: 20px 10px;
}

.localisation a {
  border-right: 1px solid rgb(218, 218, 218);
  padding: 20px 10px;
  text-decoration: none;
  color: grey;
}

/* SECTION TITRE */
.title {
  background: rgb(62, 62, 223);
  padding: 50px 190px;
  color: white;
}

.title h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*SECTION FILTRES*/

.filtres {
  background: rgb(230, 230, 230);
  padding: 25px 190px 35px;
}

.filtres button {
  border: none;
  padding: 10px 15px;
  border-radius: 35px;
  background: white;
  color: grey;
  text-transform: uppercase;
  margin-top: 10px;
}

.filtres button:not(:first-child) {
  margin-left: 10px;
}

/* SECTION ARTICLES */

/* Cards - article */
.articles {
  margin: 60px 190px;
}

.card {
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin-bottom: 25px;
  cursor: pointer;
}

.card:hover {
  opacity: .7;
  transition: .3s ease-in-out;
  transform:scale(1.03);

}

.card img {
  width: 400px;
  margin: 20px;
}

.card .content {
  margin: 20px 20px 20px 15px;
}

.card .content h2 {
  color: rgb(62, 62, 223);
  font-size: 28px;
  margin: 20px 0;
  font-weight: bold;
}

.categorie {
  display: inline-block;
  background: rgb(218, 218, 218);
  color: grey;
  padding: 7px 15px;
  text-transform: uppercase;
  border-radius: 35px;
}

.date {
  display: flex;
  align-items: baseline;
  color: grey;
  margin-top: 45px;
}

.date i {
  margin-right: 20px;
}

/* Plus d'articles */
.plus-d-article {
  text-align: center;
  margin-top: 35px;
}

.plus-d-article p {
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

/* SECTION PROPOSITION ARTICLE */
.proposition-article {
  margin: 0 190px 50px;
  display: flex;
  justify-content: center;
  background: lightgrey;
  padding: 25px;
  align-items: center;
}

.proposition-article .fa-newspaper {
  font-size: 90px;
  color: grey;
  margin-right: 45px;
  flex-basis: 10%;
  text-align: center;
}

.proposition-article .content {
  flex-basis: 80%;
}

.proposition-article .bouton {
  flex-basis: 10%;
}

/* SECTION BOUTONS BAS DE PAGE */
.boutons-bas .boutons {
  text-align: center;
}

.boutons-bas .boutons .bouton:not(:last-child) {
  margin-right: 25px;
}

.boutons-bas .partages {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
}

.boutons-bas .partages .item {
  display: flex;
  position: relative;
}

.boutons-bas .partages .item:not(:last-child) {
  margin-right: 70px;
}

.boutons-bas .partages .item:not(:last-child):after {
  content: '';
  height: 70px;
  width: 1px;
  background-color: grey;
  position: absolute;
  bottom: -60px;
  left: 120%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.boutons-bas .partages .item i {
  margin-right: 15px;
}